/* REPRESENTAÇÃO DAS CORES DA PALETA*/
/*Steel Blue: Representa os oceanos.*/
/*Spring Green: Representa as florestas.*/
/*Khaki: Representa os desertos.*/
/*Snow: Representa os polos.*/
/*As cores foram baseadas no planeta Terra, no qual se encontram os países, que são o tema do projeto.*/

body{
    background-color:steelblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:snow;
}

header{
    color:springgreen;
    text-align:left;
}

nav#menu{
    display: block;
}

nav#menu a{
    color: steelblue;
    text-decoration: none;
}

nav#menu a:hover{
    color: steelblue;
    text-decoration: underline;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}

nav#menu li{
    display: inline-block;
    background-color: snow;
    color:steelblue;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: springgreen;
}

.intro-pagina-inicial{
    text-align: center;
    font-style: italic;
    color:khaki;
}

pre{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:snow;
}

footer{
    text-align:center;
}